<div class="wrapper">
  <footer class="clear">
    <div class="two-thirds column copyright">
      © Carlyle Financial, Inc. Ratehunter.com is a division of <a href="https://www.carlylefinancial.com" target="_blank" style="color:black;">Carlyle Financial, Inc</a>.
    </div>

    <div class="third column text-right">
      <a href="/about">
        <span class="about">About Us</span>
      </a>
      <a href="/contact">
        <span class="contact">Contact Us</span>
      </a>
    </div>
  </footer>
</div>
