---
title: Rate Hunter
published: true
---
{% extends layouts/application %}
{% block 'content' %}
  <div id="main">
    <div class="wrapper">
      <div class="clear fadeIn animated rate-header">
        <div class="half column">
          <!-- <img class="logo" src="images/rate-hunter-logo"> -->
          <img class="logo" src="{{ 'rate-hunter-logo.png' | theme_image_url }}" />
        </div>

        <div class="half column careers desktop" style="text-align:right">
          <a href="mailto:info@ratehunter.com?subject=Interested in learning more about ratehunter.com" style="color:white">jobs@ratehunter.com</a>
        </div>
      </div>
      <section class="text-center table content first-section">
        <div class="table-cell">
          {% editable_text 'title' %}
            <h1 class="fadeInUp animated">Hunt for the <strong>lowest rate</strong></h1>
            <p class="fadeInUp animated">RateHunter discovers the lowest rates for your next residential loan.<br>We hunt. You find.</p>
          {% endeditable_text %}
          <!-- Begin MailChimp Signup Form -->
          <div class="fadeInUp animated" id="mc_embed_signup">
            <form action="//ratehunter.us12.list-manage.com/subscribe/post?u=8f10a42f460c2ee92850aafe9&amp;id=f8817f0514" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
              <div id="mc_embed_signup_scroll">
                {% editable_text 'signup_comment'%}
                  <label for="mce-EMAIL">Coming soon. Sign up to be notified when RateHunter is ready.</label>
                {% endeditable_text %}
                <div class="form-container">
                  <input type="email" value="" name="EMAIL" class="email shadow" id="mce-EMAIL" placeholder="Enter your email address" required="">
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_c05d7a7f85e260e7212d2c11d_32e27108f6" tabindex="-1" value="">
                  </div>

                  <input type="submit" value="NOTIFY ME" name="subscribe" id="mc-embedded-subscribe" class="button shadow">
                </div>

                <small class="fadeIn animated">(We will not share your email.)</small>
              </div>
            </form>
          </div>
          <!--End mc_embed_signup-->
        </div>
      </section>
    </div>
  </div>

  <div class="container">
    <div class="row block-gap who-we">
      {% editable_text 'who we are' %}
        <h1> WHO WE ARE </h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut egget imperdiet neque.
            In volutpat ante semper diam molestie, et aliquam erat laoreet.
            Sed sit amet arcu aliquet, molestie justo at, auctor nunc. Phasellus ligula ipsum, volutpat eget semper id, viverra egget nibh. Suspendisse luctus mattis cursus. Nam consectetur ante at nisl hendrerit gravida.

            Donec vehicula rhoncus mattis. Mauris dignissim semper mattis. Fusce porttitor a mi at suscipit.
            Praesent facilisis dolor sapien, vel sodales augue mollis ut. Mauris venenatis magna eu tortor posuere luctus. Aenean tincidunt turpis sed dui aliquam vehicula. Praesent nec elit non dolor consectetur tincidunt sed in felis.

            Donec elementum, lacus at mattis tincidunt, eros magna faucibus sem, in condimentum est augue tristique risus.
        </p>
      {% endeditable_text %}
    </div>

    <div class="row block-gap current-job">
      {% editable_text 'crrent job' %}
        <p> CURRENT JOB OPENINGS AT RATEHUNTER</p>
      {% endeditable_text %}
    </div>

    <div class="row third-content-title">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 third-content-left">
        {% editable_text 'engineer' %}
          <p> Engineering </p>
        {% endeditable_text %}
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <a style="color:black" href="https://rate-hunter.workable.com/jobs/213675"> Ruby on Rails </a>
      </div>
    </div>

    <div class="row forth-content-title block-gap">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 third-content-left">
        {% editable_text 'design' %}
          <p> DESIGN & HUMAN EXPERIENCE </p>
        {% endeditable_text %}
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <p class="" style="color:black"> Senior </p>
      </div>
    </div>

    <div class="row forth-content-title block-gap">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 box">
        <div class="inner-box valuation-box fair-left ">
          {% editable_text 'block1'%}
            <p class="valuation-title-fair">Send us your application</p><br>
            <p class="block-content"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut egget
              imperdiet neque.In volutpat ante semper diam molestie, et aliquam erat laoreet.
              Sed sit amet arcu aliquet, molestie justo at, auctor nunc. Phasellus ligula ipsum, volutpat eget semper id, viverra egget nibh. Suspendisse luctus mattis cursus. Nam consectetur ante at nisl hendrerit gravida.
            </p><br>
            <span>Apply Now</span>
            <span class="glyphicon glyphicon-arrow-right arrow"></span>
          {% endeditable_text %}
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 box">
        <div class="inner-box valuation-box fair-right">
          {% editable_text 'block2'%}
            <p class="valuation-title-fair">University Students</p><br>
            <p class="block-content"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut egget
              imperdiet neque.In volutpat ante semper diam molestie, et aliquam erat laoreet.
              Sed sit amet arcu aliquet, molestie justo at, auctor nunc. Phasellus ligula ipsum, volutpat eget semper id, viverra egget nibh. Suspendisse luctus mattis cursus. Nam consectetur ante at nisl hendrerit gravida.
            </p><br>
            <span>Apply Now</span>
            <span class="glyphicon glyphicon-arrow-right arrow"></span>
          {% endeditable_text %}
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}
